{% extends "base.j2" %}

{% block content %}
  <div class="text-center mt-5">
    <div class="alert alert-success" role="alert">
      <h1 class="display-4">Ваше сообщение отправлено!</h1>
    </div>
    <a href="/" class="btn btn-primary mt-3">Вернуться на главную</a>
  </div>
{% endblock content %}
