{% extends "base.j2" %}

{% block content %}
  <h1>Контакты</h1>
  <p>Контактная информация.</p>

  <form action="{{ url_for('feedback') }}" method="post">

    {{ form.hidden_tag() }}

    <div class="mb-3">
      {{ form.name.label(class="form-label", for="name") }}
      {{ form.name(class="form-control", id="name") }}
    </div>

    <div class="mb-3">
      {{ form.email.label(class="form-label", for="email") }}
      {{ form.email(class="form-control", id="email") }}
    </div>

    <div class="mb-3">
      {{ form.message.label(class="form-label", for="message") }}
      {{ form.message(class="form-control", id="message", rows=4) }}
    </div>

    <div class="mb-3 form-check">
      {{ form.newsletter.label(class="form-check-label", for="newsletter") }}
      {{ form.newsletter(class="form-check-input", id="newsletter") }}
    </div>

    {{ form.submit(class="btn btn-primary") }}
  </form>

  {# TODO: перенести в отдельный файл #}
  <script src="{{ url_for('static', filename='js/contact.js') }}"></script>
{% endblock content %}
